  body{
    background-color: rgb(12, 11, 11);
    padding: 0px 20px;
    color: aliceblue;
    font-family: "Inter", sans-serif;
  }
  h1 {
    color: wheat;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
    text-align: center;
  }
  ul {
    line-height: 40px;
    text-align: center;
  }
  ol {
    line-height: 40px;
    text-align: center;
  }
  .important {
    color: yellowgreen;
    align-items: center;
  }

  .column {
    width: 350px;
    float: left;
    margin: 10px;
  }

  /* nav Section */
  .topHeader.logo{
    font-size: 18px;
    font-weight: bold;
  }
  .icon{
    width: 24px;
    height: 24px;
    margin: 0px 3px;
  }
  *{
    box-sizing: border-box;
  }
  .container{
    width: 85%;
    margin: auto;
  }
  section{
    margin: 150px 0px;
  }
  .centered{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .right{
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .padChild{
    padding: 25px;
  }
  
  .img_center{
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-self: center;
  }
  /* About Section */
  .aboutSection .aboutImg{
    height: 200px;
    width: 40%;
    margin-left: auto;
    border-radius: 30px;
    align-items: center;
  }
  @media (max-width: 1000px){
    .aboutSection .aboutImg{
      width: 80%;
    }
    @media (max-width: 800px) {
      .aboutSection{
        display: block;
      }
      .aboutSection .aboutImg {
        display: none;
      }
    }
  }
  
