  body{
    background-color: rgb(12, 11, 11);
    padding: 0px 20px;
    color: aliceblue;
    font-family: "Inter", sans-serif;
  }
  h1 {
    color: wheat;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
    text-align: center;
  }
  ul {
    line-height: 40px;
    text-align: center;
  }
  ol {
    line-height: 40px;
    text-align: center;
  }
  li{
    text-align: center;
  }
  .important {
    color: yellowgreen;
    align-items: center;
  }

  .column {
    width: 350px;
    float: left;
    margin: 10px;
  }
  .icon{
    width: 24px;
    height: 24px;
    margin: 0px 3px;
  }
  .container{
    width: 85%;
    margin: auto;
  }
  .centered{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .right{
    display: flex;
    justify-content: right;
    align-items: center;
  }
em{
  color: coral;
}
  
  .img_center{
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-self: center;
  }

  
